@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

.wrapper {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  /* text-decoration: none; */
  /* box-sizing: border-box; */
}
body {
  background-color: #f2f2f2;
  width: 100%;
  max-width: 1900px;
}
a {
  color: white;
  text-decoration: none;
}
.top-menu__nav-list {
  display: flex;
  justify-content: center;
  /*padding: 0px 380px;*/
  text-align: center;
  margin: 20px 0;
}
.top-menu__nav-item {
  display: inline-block;
  text-align: center;
  padding: 0px 36px 0px 36px;
}
.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #313131;
  height: 70px;
  width: 100%;
}
.top-menu__logo img {
  position: absolute;
  width: 27px;
  height: 27px;
  margin-left: 15px;
  /* left: 13px;
  top: 22px;  */
  /* padding: 25px;
  float: left; */
}
#architect {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-decoration: none;
  margin-left: 67px;
  /* margin-bottom: 22px;
  padding: 26px 36px 20px 40px; */
}
.top-menu__nav-item a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}
.top-menu__search {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 70px;
  width: 68px;
}
.top-menu__nav-item a:hover {
  color: #14b9d5;
  text-decoration: none;
}
.background {
  display: block;
  text-align: center;
  align-content: center;
  align-items: center;
  background-image: url(../images/header-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 370px;
  margin-top: 0px;
  overflow: hidden;
  background-attachment: fixed;
  /* background-color: black;
  opacity: 100%; */
  background-blend-mode: darken;
}
.background a {
  order: 1;
}
.background__title {
  margin-top: 144px;
  font-size: 27px;
  font-style: bold;
  text-transform: uppercase;
  color: white;
  margin-bottom: 44px;
}
.background__button {
  display: block;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
}
.background__button-left {
  background-color: #89ca62;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 16px 20px;
  width: 170px;
  height: 55px;
  margin-right: 20px;
}
.background__button-right {
  background-color: #14b9d5;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 16px 20px;
  width: 170px;
  height: 55px;
}
.most-popular-posts h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  display: flex;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  color: #18b4cf;
  margin-top: 40px;
}
.most-popular {
  display: flex;
  flex-flow: column wrap;
  align-content: space-around;
  width: 1300px;
  max-height: 1030px;
  margin: 40px auto;
  flex-grow: 1;
}
.popular__title {
  text-align: center;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: #18b4cf;
}
.most-popular__img {
  width: 370px;
  border: 1px solid transparent;
  box-sizing: border-box;
}
.sign {
  box-sizing: border-box;
  border: 1px solid transparent;
  overflow: hidden;
  max-width: 370px;
}
.figcaption {
  text-align: center;
  align-content: center;
  font-size: 18px;
  font-weight: bold;
  height: 19px;
  background-color: #fff;
  padding: 15px 0px 15px 0px;
  padding-left: 0px;
  margin-top: -1px;
  margin-bottom: 30px;
}
.most-popular-clients .background {
  display: block;
  text-align: center;
  align-content: center;
  align-items: center;
  background-image: url(../images/parallax-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 588px;
  margin-top: 0px;
  overflow: hidden;
  background-attachment: fixed;
  /* background-color: black;
    opacity: 100%; */
  background-blend-mode: darken;
}
.most-popular-clients .background__title {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  /* identical to box height */

  display: flex;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  margin-top: 106px;
}
hr {
  width: 60px;
  height: 3px;
  background-color: #18b4cf;
  border: none;
  margin-top: 137px;
  margin-bottom: 106px;
}
.clients-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.clients-logo img {
  padding-left: 50px;
}
.scrolling {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  word-wrap: normal;
}
h4 {
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  color: #18b4cf;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 49px 0 52px 0;
}
.grid-container {
  display: grid;
  justify-content: center;
  align-items: center;
}
.hot-news__img {
  display: grid;
  width: 1400px;
  grid-template-columns: repeat(10, 120px);
  grid-template-rows: repeat(10, 200);
  grid-row-gap: 30px;
  grid-column-gap: 30px;
}
.hot-news__img .hot-news__img-title {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
.hot-news__img-text {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  align-content: center;
  padding: 10px;
}
.hot-news__img1-description {
  /* text-align: right; */
  width: 856px;
  height: 259px;
  background-color: #f9f7f7;
  position: relative;
}
.hot-news__img1-text-location {
  margin-top: 40px;
  position: absolute;
  top: 0;
  left: 484px;
}
.hot-news__img1-description {
  /* text-align: right; */
  align-items: start;
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 1;
}
/* .hot-news__img2-description .hot-news__img-title {
  background-color: #f9f7f7;
}
.hot-news__img2-description {
  background-color: #f9f7f7;
  grid-column-start: 9;
  grid-column-end: 10;
}
.hot-news__img2 {
  margin-bottom: 0;
}
.hot-news__img2-description figcaption {
  width: 277px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
} */
.hot-news__img3-description {
  width: 554px;
  height: 418px;
  background-color: #f9f7f7;
  text-align: right;
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 4;
}
.hot-news__img4-description {
  width: 554px;
  height: 418px;
  background-color: #f9f7f7;
  text-align: right;
  grid-column-start: 6;
  grid-column-end: 10;
  grid-row-start: 2;
  grid-row-end: 4;
}
.hot-news__img5-description {
  width: 554px;
  height: 418px;
  background-color: #f9f7f7;
  text-align: right;
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 6;
}
.hot-news__img6-description {
  width: 554px;
  height: 418px;
  background-color: #f9f7f7;
  text-align: right;
  grid-column-start: 6;
  grid-column-end: 10;
  grid-row-start: 4;
  grid-row-end: 6;
}
.hot-news__img7-description figcaption {
  width: 277px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.hot-news__img7-description {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 6;
}
.hot-news__img7-description .hot-news__img-title {
  background-color: #f9f7f7;
}
.hot-news__img8-description {
  width: 856px;
  height: 259px;
  background-color: #f9f7f7;
  position: relative;
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 6;
}
.hot-news__img8-text-location {
  margin-top: 40px;
  position: absolute;
  top: 0;
  left: 484px;
}
.hot-news__img8-description img {
  text-align-last: left;
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: black;
  height: 80px;
  margin-top: 77px;
}
.copyright {
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  margin-left: 330px;
}
.footer-logo:last-child {
  align-items: center;
  text-align: center;
  margin-left: 3px;
  margin-right: 400px;
}
